@font-face {
  font-family: 'MyCustomFont1';
  src: url('../Space_Grotesk/SpaceGrotesk-Bold.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #7C78B8;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  -webkit-user-drag: none;
}

.loading {
  width: 70px;
  height: auto;
  margin-top: 10px;
}

span {
  font-family: 'MyCustomFont1', sans-serif;
  font-style: normal;
  color: white;
  text-shadow: -1px 0 1px #1d1b1b,
    1px 0 1px #0c0c0c,
    0 -1px 1px #161615,
    0 2px 1px #0f0f0f,
    -1px 2px 1px #111111,
    1px 1px 1px #0e0d0d;
  width: min-content;
}