@font-face {
    font-family: 'MyCustomFont1';
    src: url('./diseños/Clash-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyCustomFont2';
    src: url('./diseños/Clash-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyCustomFont3';
    src: url('./diseños/Cascadia.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyCustomFont4';
    src: url('./diseños/texting.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif;

}

body {
    background: linear-gradient(90deg, #5D54A4, #7C78B8);
    position: relative;
    height: 600px;
    width: 360px;
    box-shadow: 0px 0px 24px #5C5696;
    max-height: 100%;
    max-height: 100%;
}

.text {
    color: #f47979;
    text-shadow: -1px 0 1px #1d1b1b,
        1px 0 1px #0c0c0c,
        0 -1px 1px #161615,
        0 1px 1px #0f0f0f,
        -1px 1px 1px #111111,
        1px 1px 1px #0e0d0d;
    margin-left: 20px;
    margin-top: 20px;
    padding-top: 30px;

    font-weight: 950;
}

h1 {
    -webkit-app-region: drag;
    position: absolute;
    user-select: none;
    margin-left: 30px;
    margin-top: 35px;
    font-size: 45px;
    font-family: 'MyCustomFont1', sans-serif;
    font-style: normal;
    color: white;
    text-shadow: -1px 0 1px #1d1b1b,
        1px 0 1px #0c0c0c,
        0 -1px 1px #161615,
        0 4px 1px #0f0f0f,
        -2px 4px 1px #111111,
        2px 3px 2px #0e0d0d;
    width: min-content;
}

.screenDiv {
    background-image: url('./diseños/background.png');
}

.btnSalir {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, rgb(234, 63, 63) 0, #f64417 100%);
    border-radius: 3px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 34px;
    width: 20px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
    float: right;
    font-family: 'MyCustomFont1', sans-serif;
    text-shadow: -0.4px 0 0.4px #1d1b1b,
        1px 0 1px #0c0c0c,
        0 -1px 1px #161615,
        0 1px 1px #0f0f0f,
        -1px 1px 1px #111111,
        1px 1px 1px #0e0d0d;
    margin-right: 23px;
    margin-top: 23px;
    overflow: hidden;
}

.btnSalir:hover {
    box-shadow: rgba(247, 132, 79, 0.4) 0 4px 8rgba(227, 225, 230, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

.btnSalir:focus {
    outline: none;
    border: 3px black;
}

.btnSalir:active {
    box-shadow: #dfd9b4 0 3px 7px inset;
    transform: translateY(2px);
}

.screen {
    /*background: linear-gradient(90deg, #5D54A4, #7C78B8);	*/
    background: linear-gradient(90deg, #5D54A4, #7C78B8);
    position: relative;
    height: 600px;
    width: 360px;
    box-shadow: 0px 0px 24px #20201e;
    max-height: 100%;
    max-height: 100%;
    overflow: hidden;
}

.screen__content {
    z-index: 1;
    position: relative;
    height: 100%;
    overflow: hidden;

}

.screen__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
}

.screen__background__shape {
    transform: rotate(45deg);
    position: absolute;
}

.screen__background__shape1 {
    height: 520px;
    width: 520px;
    background: #FFF;
    top: -50px;
    right: 120px;
    border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
    height: 220px;
    width: 220px;
    background: #6C63AC;
    top: -172px;
    right: 0;
    border-radius: 32px;
    animation: top 5s ease infinite;
    transition: transform 0.3s;

}

@keyframes top {
    0% {
        height: 210px;
    }

    50% {
        width: 200px;
        height: 275px;
        margin-right: -10px;
    }

    100% {
        height: 210px;
    }
}

.screen__background__shape3 {
    user-select: none;
    height: 540px;
    width: 190px;
    background: linear-gradient(270deg, #5D54A4, #6A679E);
    top: -24px;
    right: 0;
    border-radius: 32px;
    animation: mid 5s ease infinite;
    transition: transform 0.3s;
}

@keyframes mid {
    0% {
        height: 540px;
        width: 210px;
    }

    50% {
        height: 520px;
        width: 155px;
    }

    100% {
        height: 540px;
        width: 210px;
    }
}

.screen__background__shape4 {
    height: 400px;
    width: 200px;
    background: #7E7BB9;
    top: 420px;
    right: 50px;
    border-radius: 60px;
    animation: bottom 5s ease infinite;
    transition: transform 0.3s;
}

@keyframes bottom {
    0% {
        border-radius: 80px;
        height: 490px;
    }

    50% {
        border-radius: 60px;
        height: 400px;
    }

    100% {
        border-radius: 80px;
        height: 490px;
    }
}

.patito {
    display: none;
    position: absolute;
    margin-left: 270px;
    margin-top: -44px;
    width: 45px;
    height: auto;
}

.login {
    width: 320px;
    padding: 30px;
    padding-top: 156px;
}

.login__field {
    padding: 20px 0px;
    position: relative;
}

.login__icon {
    position: absolute;
    top: 30px;
    color: #fd9116;
}

.login__input {
    border: none;
    border-bottom: 2px solid #D1D1D4;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    width: 75%;
    transition: .2s;
    font-size: 14px;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
    outline: none;
    border-bottom-color: #f89721;
}

.login__submit {
    background: #fff;
    font-size: 14px;
    margin-top: 30px;
    padding: 16px 20px;
    border-radius: 26px;
    border: 1px solid #D4D3E8;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    width: 100%;
    color: #4C489D;
    box-shadow: 0px 2px 2px #5C5696;
    cursor: pointer;
    transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
    border-color: #5f5baa;
    outline: none;
}

.login__submit.animated {
    animation: login 1s ease-in-out infinite;
}

@keyframes login {
    0% {
        transform: scale(0.9);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.9);
    }
}

.button__icon {
    font-size: 24px;
    margin-left: auto;
    color: #7875B5;
}

.button__text {
    font-size: 20px;
    font-family: MyCustomFont2;
    color: rgb(243, 238, 247);
    text-shadow: -1px 0 1px #1d1b1b,
        1px 0 1px #0c0c0c,
        0 -1px 1px #161615,
        0 1px 1px #0f0f0f,
        -1px 1px 1px #111111,
        1px 1px 2px #0e0d0d;
    user-select: none;
    pointer-events: none;
    position: absolute;
    margin-top: -26px;
    margin-left: 25px;
}

.social-login {
    position: absolute;
    height: 140px;
    width: 160px;
    text-align: center;
    bottom: 0px;
    right: 0px;
    color: #fff;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-login__icon {
    padding: 20px 10px;
    color: #fff;
    text-decoration: none;
    text-shadow: 0px 0px 8px #7875B5;
}

.social-login__icon:hover {
    transform: scale(1.5);
}